

.maindiv {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: none;
    background-color: white;
    
}

.formdiv, .infodiv {
    flex: 1;
}

.formdiv {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-top: -100px;
}

.infodiv {
    background-position: center;
    padding: 20px;
    color: green;
    background: rgba(0, 0, 0, 1);
    z-index: 1;
    background-image: url('../images/india.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}









.video{
    max-width: 102%;
    min-height: 1000%;
    object-fit: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* login.css */


.form{
    margin-top: 20%;
}


.background-video {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;        
    height: 105%;       
    object-fit: fill;    
    z-index: 1;         
    margin-top: -20px;
    right: 0;
    margin-left: 20px;
  }

  .background-video {
    position: relative; 
    top: 0;
    left: 0;
    width: 120%;        
    object-fit: fill;    
    z-index: 1;         
    margin-top: -20px;
    right: 0;
  }
  
  
  
  
 





  