

.maindiv {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.formdiv, .infodiv {
    flex: 1;
}

.formdiv {
    background-color: #f0f0f0;
    padding: 20px;
}

.infodiv {
    background-color: #d9d9d9;
    background-image: url('../images/india.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;